body {
    font-family: "Avenir Next", sans-serif;
    background-color: darkgoldenrod;
}

h1 {
    color: blue;
}
.start-container {
    height: 400px;
    padding-top: 160px;
}

.main-content {
    height: 400px;
}

.questionnaire-main {
    vertical-align: middle;
}
.answerBtn {
    margin: 10px 0 10px 0;
}

