body {
    font-family: "Avenir Next", sans-serif;
    background-color: darkgoldenrod;
}

h1 {
    color: blue;
}
.start-container {
    padding-top: 160px;
}

.main-content, .start-container, #answeredDiv {
    min-height: 400px;
}

.questionnaire-main {
    vertical-align: middle;
}
.answerBtn {
    margin: 10px 0 10px 0;
}

img {
    -webkit-box-shadow: 0 0 20px #000000;
    -moz-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
    width: 400px;
}



